//шапка сайту
head
    // метаданні та назва сайту
    meta(charset='utf-8')
    title Around the World
    // підключення css
    link(rel='stylesheet', type='text/css', href='../node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='../public/stylesheets/style.css')
