doctype html
html(lang='uk,en')
    include header.pug
    body
        #success.content
            h1.message Дякуємо за те, що обрали наше турагенство! Очікуйте відповіді від нас на пошту!
            img(src='../public/images/plane.png', alt='plane')
        include footer.pug
        include scripts.pug